@{
    ViewData["Title"] = "Proforma";
    Layout = null;
}
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+ph41jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</head>

<body>
    @model inventory.Models.ProformaReport.ProformaReport
    <!-- Content Wrapper. Contains page content -->

    <div class="container">
        <img class="img-fluid " src="@Url.Content(Model.Header)" />
        <h1>Packing list</h1>

        <table class="table table-borderless">
            <tbody>               
               <tr>
                   <td style="min-width:250px;">
                        <strong>Invoic number & Date:</strong>
                   </td>
                   <td>
                        @Model.ProformaId - @Model.ProformaDate
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Exporter:</strong>
                   </td>
                   <td>
                       @Model.Seller
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Buyer:</strong>
                   </td>
                   <td>
                        @Model.Buyer
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Country of Destination:</strong>
                   </td>
                   <td>
                        @Model.CountryOfDestination
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Country Of Beneficiary:</strong>
                   </td>
                   <td>
                        @Model.CountryOfBeneficiary
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Package Description:</strong>
                   </td>
                   <td>
                        @Model.PackageDescription
                   </td>
               </tr>
                <tr>
                   <td>
                        <strong>Freight Forwarder:</strong>
                   </td>
                   <td>
                        @Model.FreightForwarder
                   </td>
               </tr>

                    <tr>
                   <td>
                        <strong>Relevant Location:</strong>
                   </td>
                   <td>
                        @Model.RelevantLocation
                   </td>
               </tr>
                    <tr>
                   <td>
                        <strong>Terms Of Delivery:</strong>
                   </td>
                   <td>
                        @Model.TermsOfDelivery
                   </td>
               </tr>
                    <tr>
                   <td>
                        <strong>Terms Of Payment:</strong>
                   </td>
                   <td>
                        @Model.TermsOfPayment
                   </td>
               </tr>
            </tbody>
        </table>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity/Weight (kg)</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Pallets.Count; i++)
                { 
                    <tr style="height:29px;">
                        <td>@Model.Pallets[i].Barcode @Model.Pallets[i].Color - @Model.Pallets[i].ColorCode
                            @Model.Pallets[i].YarnType @Model.Pallets[i].Denier / @Model.Pallets[i].Filament</td>
                        <td>@Model.Pallets[i].Weight </td>
                        </tr>

                }
                @for (var i = 0; i < (15 - (Model.ProformaProformaItems.Count)); i++)
                { 
                    <tr style="height:29px;">
                            <td></td>
                            <td></td>
                            </tr>

                }


            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Weight (kg)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var groups = Model.ProformaProformaItems.GroupBy(p => p.ProformaItem.Description);                
                    var garandTotal = 0.0;                
                    var totalNumber = 0;
                    var rowNumber = 1;
                }
                @foreach (var group in groups)
                {
                    var totalWeight = 0.0;
                    var cnt = 0;
                    foreach (var proformaProformaItem in group)
                    {
                        var proformaItem = proformaProformaItem.ProformaItem;
                        totalWeight += proformaProformaItem.Weight;
                        cnt++;
                    }
                    garandTotal += totalWeight;
                    totalNumber+=cnt;
                    @if(rowNumber==5)
                    {
                        <div style="page-break-before: always;" />
                    }
                    
                    <tr style="height:29px;">
                        <td>@group.FirstOrDefault().ProformaItem.Description</td>
                        <td>@cnt</td>
                        <td>@Math.Round(totalWeight,2) </td>
                    </tr>
                    rowNumber++;

                }

                    <tr style="height:29px;">
                        <td><strong>Total:</strong></td>
                        <td>@totalNumber</td>
                        <td>@Math.Round(garandTotal,2)</td>
                    </tr>


            </tbody>
        </table>

        <img class="img-fluid " src="@Url.Content(Model.Footer)" />
    </div>

</body>

</html>